<form #ngForm="ngForm" (ngSubmit)="login()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="form.username" name="name"
            #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
            #password="ngModel" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">
            Login
        </button>
    </div>
</form>