<div class="container flex justify-center m-10">
    <div
        class="container flex justify-center bg-gradient-to-r from-green-400 to-blue-500 max-w-xl rounded-xl text-white">
        <div class=" flex-1 text-center">
            <h3>Inside</h3>
            <div>
                <p class="text-sm">&nbsp;</p>

                <p class="text-5xl">{{inside?.temperatureC}}<span>&#176;</span></p>
            </div>
        </div>
        <div class="flex-1 text-center">
            <h3>Outside</h3>
            <div>
                <p class="text-sm">{{outside?.name}}</p>
                <p class="text-5xl">{{outside?.main?.temp}}<span>&#176;</span></p>
            </div>
        </div>
    </div>
</div>